stages:
  - build
  - test
  - deploy

before_script:
  - echo "Pipeline started on $CI_RUNNER_DESCRIPTION"

build_job:
  stage: build
  script:
    - echo "Building Docker image..."
    - docker info
    - docker build -t my-app .

test_job:
  stage: test
  script:
    - echo "Running container tests..."
    - docker run --rm my-app

deploy_job:
  stage: deploy
  script:
    - echo "Deploying app locally..."
    - docker run -d --name my-app-run my-app
    - docker ps
