stages:
  - build
  - test

variables:
  DOCKER_DRIVER: overlay2

before_script:
  - echo "Pipeline started"

build_job:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo "Building project..."
    - docker info

test_job:
  stage: test
  image: alpine:latest
  script:
    - echo "Running tests..."
    - echo "Tests passed"
