stages:
  - build
  - test

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2

build_job:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker info
    - echo "Build completed on host Docker"

test_job:
  stage: test
  image: alpine:latest
  script:
    - echo "Running tests..."
    - echo "Tests passed"
