stages:
  - build
  - test

variables:
  DOCKER_HOST: unix:///var/run/docker.sock
  DOCKER_DRIVER: overlay2

before_script:
  - echo "Pipeline started on $CI_RUNNER_DESCRIPTION"

build_job:
  stage: build
  image: docker:latest
  script:
    - echo "Building project..."
    - docker info
    - docker build -t my-app .

test_job:
  stage: test
  image: alpine:latest
  script:
    - echo "Running tests..."
    - echo "Tests passed"
